.container {
  display: flex;
  position: relative;
}

.wrapper-page {
  flex: 5;
}

.processbar-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: radial-gradient(red, transparent);
}