body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Myriad Pro Light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body, html {
  height: 100%;
}